<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
        <button class="navbar-toggler sideMenuToggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" >MediCorp Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons icon">
                            person
                        </i>
                        <span *ngIf="DB" id="aUsu" class="text"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="#">Action</a> -->
                        <div class="dropdown-divider"></div>
                        <a id="bUnlogin" class="dropdown-item" href="#">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--Side Bar-->

    <div class="wrapper d-flex">
        <div class="sideMenu bg-mattBlackLight">
            <div class="sidebar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="bDashboard" (click)="Dashboard()" class="nav-link px-2">
                            <i class="material-icons icon">
                                dashboard
                            </i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="bUsuarios" (click)="Usuarios()" class="nav-link px-2">
                            <i class="material-icons icon">
                                person
                            </i>
                            <span class="text">Usuarios</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a id="bDoctores" (click)="Doctores()" class="nav-link px-2">
                            <i class="material-icons icon">
                                assignment_ind
                            </i>
                            <span class="text">Doctores</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a id="bCitas" (click)="Citas()" class="nav-link px-2">
                            <i class="material-icons icon"> schedule </i><span class="text">Citas</span></a>
                    </li>


                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link px-2">
                            <i class="material-icons icon">
                                pages
                            </i>
                            <span class="text">Pages</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link px-2">
                            <i class="material-icons icon">
                                computer
                            </i>
                            <span class="text">Demo</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link px-2 sideMenuToggler">
                            <i class="material-icons icon expandView ">
                                view_list
                            </i>
                            <span class="text">Resize</span>
                        </a>
                    </li> -->

                </ul>
            </div>
        </div>

        <!--Todo (Contenido)-->

        <div class="content" id="todo">

            <main *ngIf="DB" id="DashboardMain">
                <div class="container-fluid">

                    <div class="row justify-content-center">
                        <div class="col-md-12 my-2">
                            <div id=DashboardDiv class="bg-mattBlackLight my-2 p-3">

                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <main *ngIf="Us">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12 my-2">
                            <div class="table-responsive table-bordered">
                                <table id="tUsuarios" class="display" style="width:100%">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>ID</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>DNI</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>eMail</th>
                                            <th>Usuario</th>
                                            <th>Contraseña</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <main *ngIf="Cit">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive table-bordered">
                                <table id="tCitas" class="display">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo de Cita</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>DNI</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>Especialidad</th>
                                            <th>Motivo</th>
                                            <th>Fecha de Cita</th>
                                            <th>Hora de Cita</th>
                                            <th>Doctor</th>
                                            <th>Usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <main *ngIf="Doc">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="table-responsive table-bordered">
                                <table id="tDoctores" class="display" style="width:100%">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>ID</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>DNI</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>eMail</th>
                                            <th>Usuario</th>
                                            <th>Contraseña</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </main>


        </div>
    </div>

</body>